@font-face {
	font-family: Rubik-Regular;
	src: url('/project work/fonts/Rubik-Regular.ttf');
}
@font-face{
	font-family: SourceSansPro-Regular;
	src: url('/project work/fonts/SourceSansPro-Regular.ttf');
}
 @font-face{
	font-family:tahoma;
	src: url('/project work/fonts/tahoma.ttf/');
}
*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
   /* добавим плавность переходов для всех элементов страницы*/
}
ul {
   list-style: none;
   
}
a {
   text-decoration: none;
   outline: none;
}
body {
   background: #b1d2da;
}
header {
   width: 100%;
   padding: 15px 0;
   margin-bottom: 30px;
   position: relative;
}
/* меню */

#menu li {
   display: inline-block;
   margin-right: 1.5%;
   margin-left: 1.5%;
   background: #dadada;
   width: 13.5%;
   text-align:center;
     border: 2px solid black;
  border-radius: 25px;
  box-shadow: 0px 15px 15px 1px rgba(0, 0, 0, .5);
   
}
#menu a {
   color: #111;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
   display: block;
   line-height: 40px;
}
#menu a:hover {
   color: #EF5A42;
}
#menu li:last-child {
   margin-right: 0;
}

.logo {
	margin-top: 10px;
	width:50px;
	height:50px;

	
}
.main {

	margin:4%;
	background:#dadada;
	padding: 2%;
	box-shadow: 0px 15px 15px 10px rgba(0, 0, 0, .5);
}
h1 {
	text-align:center;
}
h2 {
	margin-top: 2%;
	margin-bottom:2%;
	text-align:center;
}
.icon {
	width:140px;
	height:100px;
	
	

	
}
.company{
	text-align:center;
}
.company_list .company {
	
	display: inline-block;
   margin-right: 1.5%;
   margin-left: 1.5%;
   margin-bottom:3%;
   background: white;
   width: 25%;
   text-align:center;
        border: 2px solid black;
  border-radius: 25px;

}
.company_list a {
   color: #111;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
   display: block;
   line-height: 40px;
}
.company_list a:hover {
   color: #EF5A42;
}
.company_list {
	text-align:center;
}
footer{
	background:#dadada;
	height:200px;
	box-shadow: 0px 15px 15px 10px rgba(0, 0, 0, .5);
}